/* PHASE 1: Header */

body {

  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;

  background: #eee;

}

.header {
  background-color: red;
  border-bottom: 1px solid #ccc;
  color: white;
}

.header a {
  display: block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-nav {
  width: 900px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

}
