<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 99 Cats, <%= @user.username %></h1>
    <p>
      You have successfully signed up to 99Cats.com,
      your username is: <%= @user.username %>.<br />
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Now get out there and rent some cats!</p>
  </body>
</html>
